

/* font-family */
.inter-2nd-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.noto-serif-primary {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
}

/* Navber style */
.navber{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
    margin-top: 30px;
}
.nav-items ul{
    display: flex;
    list-style: none;
    gap: 48px;
    
    
}
.nav-items ul a{
   text-decoration: none;
   color: #8987A1;
}
.nav-items ul .home a{
    color: #252432;
}


/* Navber-responsive */
@media screen and (max-width: 568px) {
   .navber ul a{
        display: none;
        
    }
     .navber .logo img{
        width: 63px;
        height: 38px;
    }
    

   .navber{
    width: 361px;
margin-left: 15px;
padding-top: 20px;
align-items: center;

   }

.nav-items ul{
    gap: 0px;
    margin-right: 60px;
    font-size: 1.25rem;
}
}

/* Banner section */
.Banner{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    margin: 120px 150px;
}
.contain h1{
font-size: 3rem;
}

.contain p{
    font-size: 1.3rem;
    color: #8987A1;
}
.primary-color{
    color: #E95A08;
}
.photo img{
    width: 570px;
    height: 355px;
}

/* banner responsive */

@media screen and (max-width: 576px){
    .Banner{
        flex-direction: column-reverse;
        
    }
.photo img{
    width: 393.18px;
    height: 245px;   
}
.contain h1{
   font-size: 1.5rem;
   width: 191px;
}
.contain{
    width: 361px;
    height: 147px;
}
.contain p{
    font-size: 0.875rem;
}
}