

/* font-family */
.inter-2nd-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.noto-serif-primary {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
}

/* Navber style */
.navber{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
    margin-top: 30px;
}
.nav-items ul{
    display: flex;
    list-style: none;
    gap: 48px;
    
    
}
.nav-items ul a{
   text-decoration: none;
   color: #8987A1;
}
.nav-items ul .home a{
    color: #252432;
}


/* Navber-responsive */
@media screen and (max-width: 576px) {
   .navber ul a{
        display: none;
        
    }
     .navber .logo img{
        width: 63px;
        height: 38px;
    }
    .navber ul{
        font-size: 1.25rem;
    }

   .navber{
    width: 361px;
margin-left: 15px;
padding-top: 20px;
align-items: center;
   }
}