

/* font-family */
.inter-2nd-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.noto-serif-primary {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
}

/* Navber style */
.navber{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
    margin-top: 30px;
}
.nav-items ul{
    display: flex;
    list-style: none;
    gap: 48px;
    
    
}
.nav-items ul a{
   text-decoration: none;
   color: #8987A1;
}
.nav-items ul .home a{
    color: #252432;
}


/* Navber-responsive */
@media screen and (max-width: 568px) {
   .navber ul a{
        display: none;
        
    }
     .navber .logo img{
        width: 63px;
        height: 38px;
    }
    

   .navber{
    width: 361px;
margin-left: 15px;
padding-top: 20px;
align-items: center;

   }

.nav-items ul{
    gap: 0px;
    margin-right: 60px;
    font-size: 1.25rem;
}
}

/* Banner section */
.Banner{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    margin: 120px 150px;
}
.contain h1{
font-size: 3rem;
}

.contain p{
    font-size: 1.3rem;
    color: #8987A1;
}
.primary-color{
    color: #E95A08;
}
.photo img{
    width: 570px;
    height: 355px;
}

/* banner responsive */

@media screen and (max-width: 576px){
    .Banner{
        flex-direction: column-reverse;
        
    }
.photo img{
    width: 393.18px;
    height: 245px;   
}
.contain h1{
   font-size: 1.5rem;
   width: 191px;
}
.contain{
    width: 361px;
    height: 147px;
    padding-left: 50px;
}
.contain p{
    font-size: 0.875rem;
    width: 340px;
    
}
}

/* our plants section */
.our-plants{
   text-align: center;
    margin: 0 150px;
}
.plants-title{
    font-size: 3.12rem;
}
.plants-para{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);  
    width: 800px;
    margin-left: 100px;
}
/* our plants responsiv */
@media screen and (max-width: 568px) {
    .our-plants{
       margin: 0 auto;
        height: 130px;
        margin-top: -50px;
    }
    
    
    
    .plants-title{
    font-size: 1.5rem;
   
}

.plants-para{
    font-size: 1rem;
    width: 320px;
    margin-left: 30px; 
}
}

/* card section */

 .card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
     text-align: center;
     justify-content: center;
    justify-content: center;
    gap: 20px;
    
    margin: 0 150px;
    
padding-top: 40px; */

}

button{
    font-size: 1rem;
    color: white;
    background-color: #E95A08;
    border: none;
   width: 270px;
   height: 50px;
   margin-top: -15px;
}
.card-1 h3{
   font-size: 1rem;
}
.card-1 h2{
font-size: 1.5rem;
font-weight: bold;
margin-top: -10px;
} 

/* card responsiv */
 @media screen and (max-width: 568px) { 
.card{
    grid-template-columns: repeat(2, 1fr);
    width: 170px;
    margin: 0 auto;
    gap: 10px;
    row-gap: 30px;
  
}
.card-1 img{
    width: 170px;
}
.card-1{
        width: 170px;     
    }
    button{
        width: 170px; } 

}


/* trusted-section */
.trusted-section{
    display: flex;
    justify-content: space-around;
    margin: 0 150px;
    margin-top: 210px;
}
.trusted-seller{
    width: 286px;
height: 286px;
z-index: 10;
position: relative;
bottom: 750px;
left: 350px;


}
.store{
    width: 540px;
    height: 590px;
}
.plant-lover{
    width: 540px;
    height: 520px;
}

.plant-lover h2{
    font-size: 3.12rem;
    width: 350px;
  
}
.plant-lover ul{
    font-size: 1.3rem;
    gap: 10px;
  
    
    color: rgba(0, 0, 0, 0.5);
}
.plant-lover li{
 padding-bottom: 15px;
}

/* trusted-section responsiv*/
@media screen and (max-width: 568px) {
  .trusted-section{
    flex-direction: column;
    margin: 0 auto;
    margin-left: 20px;
    padding-top: 40px;
  }  
  .trusted-seller{
    display: none;
  }

  .store{
    width: 358px;
    height: 395px;
  }
  .plant-lover{
    width: 360px;
    height: 234px;
  }

  .plant-lover h2{
    font-size: 1.5rem;
  }
  .plant-lover ul{
    font-size: 0.875rem;
    margin: 0 15px;
    margin-left: -10px;
  }
}

/* Latest-Deals */
.Latest-Deals{
    text-align: center;margin-top: -150px;
}
.Latest-Deals p{
    margin: 0 276px;
    font-size: 1.3rem;
    color:rgba(0, 0, 0, 0.5);
    margin-top: -30px;
}

.Latest-Deals h2{
    font-size: 3.12rem;
}
/* Latest-Deals responsive */
@media screen and (max-width: 568px) {
    .Latest-Deals h2{
        font-size: 1.5rem;
    }

    .Latest-Deals p{
        font-size: 0.875rem;
        width: 280px;
        height: 68px;
    margin: 0 auto;
        
    }
.Latest-Deals{
    margin-top: 130px;
    width: 393px;
}
}

/* 25% Off | Zabo Plant */

/* 25% Off | Zabo Plant */

.shap{
    display: flex;
    gap: 28px;
    margin: 0 150px;
margin-top: 120px;    
}
.left-column{
    display: flex;
    flex-direction: column;
    gap: 28px;
   
}

.watch{
    position: relative;
    color: white;
    border-radius: 10px;
 background-size: cover;
 background-position: center;
 padding: 20px;
 
}

.bloom{
 width: 367px;
  height: 201px;
}

.ana{
    width: 367px;
    height: 150px;
}




.zabo {
 width: 753px;
  height: 423px;
  background-image: url(./media/deal-zabo.png);
}

.bloom {
  background-image: url(./media/deal-bloom.png);
  
}
.ana {
  background-image: url(./media/deal-ana.png);
    
}

.text{
    font-size: 1.3rem;

    text-align: center;
    margin-top: 50px;
    
}

.text p{
    margin-top: -25px;
    text-decoration: underline;
}

.text-zabo{
    font-size: 2rem;
    text-align: center;
    padding-top: 100px;
}

.text-zabo p{
    text-decoration: underline;
}

@media screen and (max-width: 568px) {
    .shap{
        flex-direction: column;
          padding: 0px;
          width: 330px;
    margin: 0 auto;
        height: 581px;
        margin: 0 auto;
        margin-left: 10px;
        margin-top: 20px;
        
    }

    .zabo{
        width: 330px;
        height: 172px;
    }
    .bloom{
width: 330px;
        height: 184px;
    }

    .ana{
        width: 330px;
        height: 184px;
    }
    .text-zabo{
    font-size: 1rem;
    text-align: center;
    padding-top: 10px;
}
}

/* inputber */
.inputber{

    background-image: url(./media/news-letter-bg.png);
    width: 100%;
  margin: 0 auto;
    height: 533px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 120px;
     
}

.forom h1{
font-size: 3.12rem;
color: white;
}
.forom input{
    
    width: 644px;
    height: 40px;
    font-size: 16px;
}
input::placeholder{
    color: #E95A08;
    padding-left: 30px;
}
.forom{
gap: 0px;
padding-top: 150px;
}

/* Forom Responsiv */
@media screen and (max-width: 568px) {
  .inputber{
    width: 380px;
    height: 275px;
  }  

  .forom input{
width: 218px;
height: 40px;
  }

  .forom h1{
font-size: 1.3rem;
width: 235px;
margin-left: 50px;

  }
  .in-bu{
    width: 103px;
  }

.forom{
  padding: 0px;
  padding-top: 100px;
  }
}